USE [master]
GO
/****** Object:  Database [TeoAccesorios]    Script Date: 9/9/2025 10:17:16 ******/
CREATE DATABASE [TeoAccesorios]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TeoAccesorios', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TeoAccesorios.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TeoAccesorios_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TeoAccesorios_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TeoAccesorios].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TeoAccesorios]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 9/9/2025 10:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[categoria]    Script Date: 9/9/2025 10:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* categoria -> Categorias */
CREATE   VIEW [dbo].[categoria] AS
SELECT
    cat.Id           AS id_categoria,
    cat.Nombre       AS nombre,
    cat.Descripcion  AS descripcion,
    CAST(1 AS bit)   AS activo
FROM dbo.Categorias AS cat;
GO
/****** Object:  View [dbo].[subcategoria]    Script Date: 9/9/2025 10:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* subcategoria (compat) -> usa Categorias para hacer de puente */
CREATE   VIEW [dbo].[subcategoria] AS
SELECT
    cat.Id     AS id_subcategoria,
    cat.Nombre AS descripcion,
    cat.Id     AS id_categoria
FROM dbo.Categorias AS cat;
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 9/9/2025 10:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
	[Precio] [decimal](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[StockMinimo] [int] NOT NULL,
	[CategoriaId] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[producto]    Script Date: 9/9/2025 10:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* producto -> Productos */
CREATE   VIEW [dbo].[producto] AS
SELECT
    p.Id           AS id_producto,
    p.Nombre       AS nombre,
    p.Descripcion  AS descripcion,
    p.Precio       AS precio,
    p.Stock        AS stock,
    p.StockMinimo  AS stockMinimo,
    p.Activo       AS activo,
    p.CategoriaId  AS id_subcategoria
FROM dbo.Productos AS p;
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 9/9/2025 10:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[Rol] [nvarchar](20) NOT NULL,
	[Activo] [bit] NOT NULL,
	[correo] [nvarchar](200) NULL,
	[contrasenia] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[usuario]    Script Date: 9/9/2025 10:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* usuario -> Usuarios */
CREATE   VIEW [dbo].[usuario] AS
SELECT
    u.Id             AS id_usuario,
    u.NombreUsuario  AS nombreUsuario,
    u.correo         AS correo,
    u.contrasenia    AS contrasenia,
    u.Rol            AS rol,
    u.Activo         AS activo
FROM dbo.Usuarios AS u;
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 9/9/2025 10:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Vendedor] [nvarchar](50) NOT NULL,
	[Canal] [nvarchar](50) NOT NULL,
	[ClienteId] [int] NOT NULL,
	[DireccionEnvio] [nvarchar](255) NULL,
	[Anulada] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[cabeceraventa]    Script Date: 9/9/2025 10:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* cabeceraventa -> Ventas */
CREATE   VIEW [dbo].[cabeceraventa] AS
SELECT
    v.Id               AS id_venta,
    v.ClienteId        AS id_cliente,
    NULL               AS id_usuario,      -- no existe en tu tabla
    v.Fecha            AS fechaVenta,
    v.Vendedor         AS vendedor,
    v.Canal            AS canal,
    v.DireccionEnvio   AS direccionEnvio,
    COALESCE(v.Anulada,0) AS anulada,
    v.Fecha            AS Fecha            -- por compatibilidad
FROM dbo.Ventas AS v;
GO
/****** Object:  Table [dbo].[DetalleVenta]    Script Date: 9/9/2025 10:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVenta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VentaId] [int] NOT NULL,
	[ProductoId] [int] NOT NULL,
	[ProductoNombre] [nvarchar](100) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[detalleventa_ext]    Script Date: 9/9/2025 10:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* detalleventa_ext con subtotal (útil para KPIs/reportes) */
CREATE   VIEW [dbo].[detalleventa_ext] AS
SELECT
    d.Id,
    d.VentaId        AS id_venta,
    d.ProductoId     AS id_producto,
    d.ProductoNombre,
    d.Cantidad       AS cantidad,
    d.PrecioUnitario AS precioUnitario,
    CAST(d.Cantidad * d.PrecioUnitario AS decimal(18,2)) AS subtotal
FROM dbo.DetalleVenta AS d;
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 9/9/2025 10:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Telefono] [nvarchar](50) NULL,
	[Direccion] [nvarchar](255) NULL,
	[Localidad] [nvarchar](100) NULL,
	[Provincia] [nvarchar](100) NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[cliente]    Script Date: 9/9/2025 10:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ===== VISTAS ===== */

/* cliente -> Clientes */
CREATE   VIEW [dbo].[cliente] AS
SELECT
    c.Id        AS id_cliente,
    c.Nombre    AS nombre,
    NULL        AS apellido,
    c.Email     AS email,
    c.Telefono  AS telefono,
    c.Direccion AS direccion
FROM dbo.Clientes AS c;
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([Id], [Nombre], [Descripcion]) VALUES (1, N'Carteras', N'Carteras de cuero y eco cuero')
INSERT [dbo].[Categorias] ([Id], [Nombre], [Descripcion]) VALUES (2, N'Mochilas', N'Mochilas urbanas y de viaje')
INSERT [dbo].[Categorias] ([Id], [Nombre], [Descripcion]) VALUES (3, N'Billeteras', N'Billeteras y tarjeteros')
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([Id], [Nombre], [Email], [Telefono], [Direccion], [Localidad], [Provincia], [Activo]) VALUES (1, N'Juan Pérez', N'juan@example.com', N'+54 9 379 555-1234', N'Junín 123', N'Corrientes', N'Corrientes', 1)
INSERT [dbo].[Clientes] ([Id], [Nombre], [Email], [Telefono], [Direccion], [Localidad], [Provincia], [Activo]) VALUES (2, N'María González', N'maria@example.com', N'+54 9 379 555-5678', N'San Martín 456', N'Resistencia', N'Chaco', 1)
INSERT [dbo].[Clientes] ([Id], [Nombre], [Email], [Telefono], [Direccion], [Localidad], [Provincia], [Activo]) VALUES (3, N'tobias Orban', N'tobiasorban00@gmail.com', N'+543624625954', N'av 9 de julio 2830', N'resistencia', N'chaco', 1)
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleVenta] ON 

INSERT [dbo].[DetalleVenta] ([Id], [VentaId], [ProductoId], [ProductoNombre], [Cantidad], [PrecioUnitario]) VALUES (1, 1, 1, N'Cartera Soho', 1, CAST(85000.00 AS Decimal(18, 2)))
INSERT [dbo].[DetalleVenta] ([Id], [VentaId], [ProductoId], [ProductoNombre], [Cantidad], [PrecioUnitario]) VALUES (2, 1, 3, N'Billetera Slim', 2, CAST(35000.00 AS Decimal(18, 2)))
INSERT [dbo].[DetalleVenta] ([Id], [VentaId], [ProductoId], [ProductoNombre], [Cantidad], [PrecioUnitario]) VALUES (3, 2, 1, N'Cartera Soho', 1, CAST(85000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[DetalleVenta] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([Id], [Nombre], [Descripcion], [Precio], [Stock], [StockMinimo], [CategoriaId], [Activo]) VALUES (1, N'Cartera Soho', N'Cartera mediana, cuero vacuno, color suela.', CAST(85000.00 AS Decimal(18, 2)), 0, 3, 1, 1)
INSERT [dbo].[Productos] ([Id], [Nombre], [Descripcion], [Precio], [Stock], [StockMinimo], [CategoriaId], [Activo]) VALUES (2, N'Mochila Urban Pro', N'Mochila grande con cierre reforzado.', CAST(120000.00 AS Decimal(18, 2)), 4, 2, 2, 1)
INSERT [dbo].[Productos] ([Id], [Nombre], [Descripcion], [Precio], [Stock], [StockMinimo], [CategoriaId], [Activo]) VALUES (3, N'Billetera Slim', N'Billetera minimalista con RFID.', CAST(35000.00 AS Decimal(18, 2)), 19, 5, 3, 1)
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [NombreUsuario], [Rol], [Activo], [correo], [contrasenia]) VALUES (1, N'admin', N'Admin', 1, N'', N'admin123')
INSERT [dbo].[Usuarios] ([Id], [NombreUsuario], [Rol], [Activo], [correo], [contrasenia]) VALUES (2, N'vendedor1', N'Vendedor', 1, NULL, N'')
INSERT [dbo].[Usuarios] ([Id], [NombreUsuario], [Rol], [Activo], [correo], [contrasenia]) VALUES (3, N'vendedor2', N'Vendedor', 1, NULL, N'')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Ventas] ON 

INSERT [dbo].[Ventas] ([Id], [Fecha], [Vendedor], [Canal], [ClienteId], [DireccionEnvio], [Anulada]) VALUES (1, CAST(N'2025-01-10T00:00:00.000' AS DateTime), N'vendedor1', N'Instagram', 1, N'Junín 123', 0)
INSERT [dbo].[Ventas] ([Id], [Fecha], [Vendedor], [Canal], [ClienteId], [DireccionEnvio], [Anulada]) VALUES (2, CAST(N'2025-09-08T18:44:49.983' AS DateTime), N'admin', N'Instagram', 1, N'Junín 123', 0)
INSERT [dbo].[Ventas] ([Id], [Fecha], [Vendedor], [Canal], [ClienteId], [DireccionEnvio], [Anulada]) VALUES (3, CAST(N'2025-09-08T19:45:10.420' AS DateTime), N'admin', N'Instagram', 1, N'Junín 123', 0)
SET IDENTITY_INSERT [dbo].[Ventas] OFF
GO
/****** Object:  Index [IX_Ventas_Anulada]    Script Date: 9/9/2025 10:17:16 ******/
CREATE NONCLUSTERED INDEX [IX_Ventas_Anulada] ON [dbo].[Ventas]
(
	[Anulada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((5)) FOR [StockMinimo]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ('') FOR [contrasenia]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT ('Instagram') FOR [Canal]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT ((0)) FOR [Anulada]
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD  CONSTRAINT [FK_DetalleVenta_Productos] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[DetalleVenta] CHECK CONSTRAINT [FK_DetalleVenta_Productos]
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD  CONSTRAINT [FK_DetalleVenta_Ventas] FOREIGN KEY([VentaId])
REFERENCES [dbo].[Ventas] ([Id])
GO
ALTER TABLE [dbo].[DetalleVenta] CHECK CONSTRAINT [FK_DetalleVenta_Ventas]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Categorias] FOREIGN KEY([CategoriaId])
REFERENCES [dbo].[Categorias] ([Id])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Categorias]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Clientes] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Clientes]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [CK_Productos_Precio] CHECK  (([Precio]>=(0)))
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [CK_Productos_Precio]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [CK_Productos_Stock] CHECK  (([Stock]>=(0)))
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [CK_Productos_Stock]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [CK_Productos_StockMin] CHECK  (([StockMinimo]>=(0)))
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [CK_Productos_StockMin]
GO
USE [master]
GO
